# IDE ve yapılandırma dosyaları
.idea/
*.iml

# Maven hedef klasörü
target/

# Geçici dosyalar
*.log
*.tmp
*.swp
*.swo

# Sistem dosyaları
.DS_Store
Thumbs.db

# Maven yerel deposu (genellikle projenizin kökünde değil, ev dizininde bulunur)
.m2/repository/

# Cucumber test sonuçları (eğer varsa)
*.feature/*.log

# Java derleme dosyaları
*.class

# Maven wrapper dosyaları (Opsiyonel, genellikle projede bulunur)
.mvn/wrapper/

# Eclipse çalışma alanı
.classpath
.project
.settings/

# NetBeans çalışma alanı
nbproject/private/
build/
nbbuild/
dist/
